.about {
    position: relative;
}

.about-inner-container {
    margin-top: 66px;
    margin-bottom: 70px;

    @include respond(tab-port) {
        margin-top: 44px;
        margin-bottom: 35px;
    }
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 24px;
}

.about-col-6 {
    width: 100%;
    max-width: 31%;
    padding: 20px;
    border-radius: 12px;

    padding: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;

    @include respond(tab-port) {
        max-width: 48%;
    }

    @include respond(zero-size-1) {
        max-width: 100%;
    }
}


.about-col-6:hover {

    box-shadow: 0px 4px 10px rgba(97, 97, 97, 0.1);
    // transform: scale(1.02);
}

.about-item {
    display: flex;

}

.about-icon {
    font-size: 22px;
    color: var(--text-red-icon);
    margin-right: 12px;
    transition: all 0.3s ease;

}

.about-col-6:hover .about-icon {
    color: $color-lightred;
    transform: scale(1.1);
}

.about-text {
    font-size: 14px;
    color: #55556A;
    font-weight: normal;
    line-height: 20px;
    transition: all 0.3s ease;
}
.about-col-6:hover .about-text{
    color:$color-lightblue;
}